@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Georgian:wght@200;400;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------Navbar Bootstrap--------*/

.navbar>.container-fluid {
    justify-content: flex-start;
}

.navbar-collapse {
    background-color: rgb(248, 249, 250);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 25px;


}

.bg-secondary {
    background-color: f8f9fa;
}

.navbar {
    padding-bottom: 0;
    padding-left: 0;
}

.navbar-brand {
    padding-left: 2%;
}

nav {
    font-family: fira sans;
    background: rgb(248, 249, 250);
    width: 100%;
    padding-left: 50px;
} 


.logo-nav {
    max-width: 100px;
    max-height: 100px;
    transition: 1s;
}

.logo-nav:hover {
    transform: scale(1.2);
}

.iconos-redes {
    color: darkslategray;
    transition: 1s;
}

.iconos-redes:hover {
    color: #2CAAE1;
    transform: scale(2);
}

.container-fluid {
    background-color: rgb(248, 249, 250);
    border-bottom: 1px solid gray;
    padding: 0%;
}

/*-------Main Index----------*/

.contenedorportada {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.3fr 0.1fr 0.4fr;
    grid-template-areas:
        "cargo cargo cargo cargo"
        "titulo1 titulo1 titulo1 titulo1"
        "titulo2 titulo2 titulo2 titulo2"
        "logos1 logos2 logos3 logos4";
    margin-bottom: 5%;
    margin-top: 0;
    height: 50%;
    width: 100%;
    object-fit: contain;
}

.cargo {
    grid-area: cargo;
    width: 100%;
}

.cargo img {
    width: 100%;
    min-width: 350px;
}

.titulo1 {
    font-family: fira sans;
    font-weight: 400;
    font-size: 35px;
    margin: 5%;
    color: grey;
    text-align: center;
    grid-area: titulo1;
    width: fit-content;
}

.titulo2 {
    font-family: fira sans;
    font-weight: bold;
    width: 90%;
    margin: 5%;
    font-size: 55px;
    color: grey;
    text-align: center;
    grid-area: titulo2;
}

.titulo2 h3{
    font-size: 45px;
    text-align: center;
}

.contenedor-logos {
    position: relative;
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 90vw;
}

@keyframes logos1 {

    25%,
    75% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1.04);
    }
}

.logos1:hover,
.logos2:hover,
.logos3:hover,
.logos4:hover {
    transform: scale(1.2);

}

.logos1 {
    width: auto;
    margin: 0 2% 0 0;
    grid-area: logos1;
    animation-duration: 2s;
    animation-name: logos1;
    transition: 4s;
}

.logos2 {
    width: auto;
    margin: 0 2% 0 0;
    grid-area: logos2;
    animation-duration: 2s;
    animation-name: logos1;
    transition: 4s;
}

.logos3 {
    width: auto;
    margin: 0 2% 0 0;
    grid-area: logos3;
    animation-duration: 2s;
    animation-name: logos1;
    transition: 4s;
}

.logos4 {
    width: auto;
    margin: 0 auto;
    grid-area: logos4;
    animation-duration: 2s;
    animation-name: logos1;
    transition: 4s;
}

.logoimg {
    display: block;
    margin: 0 auto;
    height: 90%;
    width: 100%;
}

/*-------FOOTER----------*/

footer {
    width: 100%;
    margin-top: auto;
    background: linear-gradient(to right, rgb(134, 127, 127), rgb(36, 30, 30));
    color: white;
    font-size: 13px;
    padding: 30px 0px 20px;
}


.logo-importia-blanco img {
    width: 150px;
    transition: 1s;
}

.logo-importia-blanco img:hover {
    transform: scale(1.1);
}

hr {
    width: 90%;
    border: 0px;
    border-bottom: 1px solid #ccc;
    margin: 15px auto 20px;
}

/* ---- EMPRESA ---*/

.seccion-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-foto img {
    display: block;
    margin: auto;
    padding: 0% 5% 5% 5%;
    width: 90%;
}

.seccion-texto {
    margin-top: 5%;
} 

.seccion-texto p {
    margin-top: 5%;
    padding: 0% 10% 5% 10%;
    font-family: fira sans;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    color: rgb(60, 57, 57)
}

.empresa-h3 {
    padding: 5% 5% 0% 5%;
    text-align: center;
    font-family: fira sans;
    font-size: 35px;
    font-weight: bold;
    color: grey;
}

/*-------Productos Dewalt----------*/

.dw-productos-contenedor {
    height: auto;
    width: 100%;
    padding-bottom: 10%;
}

.dw-sup-fondo {
    width: 100%;
}

.dw-banner-superior {
    display: flex;
    justify-content: center;
    height: 90%;
    width: 100%;
    background-color: rgb(254, 189, 22);
    animation-duration: 3s;
    animation-name: slidein;
}
.dw-logo {
    display: flex;
    width: 160px;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dw-banner-medio {
    position: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2% 0 2% 0;
    margin: 2% 10% 2% 10%;
    background-color: #febd16;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.dw-banner-medio img {
    height: 50%;
    width: 25%;
    background-color: black;
}

.dw-banner-medio h2 {
    font-family: bebas neue;
    font-size: 35px;
    color: black;
    text-align: center;
    margin-top: 2%;
    position: relative;
}

.dw-inf-fondo {
    background-color: #EEEEEE;
    padding: 0.5rem 0 0.5rem 0;
}
.dw-banner-inferior {
    width: 100%;
    padding: 2% 0 2% 0;
    margin: 2% 0% 2% 0%;
    background-color: #febd16;
}
.dw-banner-inferior img {
    display: block;
    margin: 0 auto;
}

.card img {
    padding: 10%;
}
/*-------Productos Milwaukee----------*/
.mw-productos-contenedor {
    background-color: rgba(0, 0, 0, 0.907);
    height: auto;
    width: 100%;
    padding-bottom: 10%;
}
.mw-sup-fondo{
    width: 100%;
}
.mw-banner-superior {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: (rgb(219, 2, 29));
    animation-duration: 3s;
    animation-name: slidein;
}

.mw-banner-superior {
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: rgb(219, 2, 29);
}

.col {
    padding-bottom: 5%;
}



@keyframes slidein {
    from {
        margin-left: 50%;
        width: 0%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.mw-logo {
    padding-top: 1%;
    height: 90%;
}

.mw-banner-medio {
    position: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2% 0 2% 0;
    margin: 2% 10% 2% 10%;
    background-color: #DB021D;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;

}

.mw-banner-medio img {
    height: 50%;
}

.mw-banner-medio h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 2%;
    position: relative;
}

.mw-inf-fondo {
    background-color:#181818;
    padding: 0.5rem 0 0.5rem 0;
}
.mw-banner-inferior {
    width: 100%;
    padding: 8% 0 2% 0;
    margin: 2% 0% 2% 0%;
    background-color: #181818;
}
.mw-banner-inferior img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 100%;
}



/*-----CONTACTO--------*/

.grid-contacto-contenedor {
    background-image: url(../img/warehouse.jpg);
    background-size: cover;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-size: 16px;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "col1 col2"
        "col1 col2";

}

.titulo-contacto {
    font-family: fira sans;
    padding-top: 8%;
    color: rgb(227, 236, 251);
}

.img-warehouse-fondo {
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.columna2 {
    max-height: 100%;
    width: 60%;
    grid-area: col2;
}

.columna1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    min-width: 350px;
    background-color: rgba(47, 79, 79, 0.396);
    grid-area: col1;
}

.formulario-contacto {
    margin-top: 2%;
    margin-bottom: 70px;
    height: auto;
}

/*----CONTACTO FORMULARIO----*/

.formulario {
    width: 80%;
    background: #4e5255c3;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
    transition: 1s;
}

.formulario h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.control {
    width: 100%;
    background: #c5ccd39a;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #8c8e9464;
    font-size: 18px;
    color: black;
}

.boton {
    width: 100%;
    background: #31343bdd;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
    font-family: fira Sans;
    border-radius: 5px;
    transition: 1s;
}

.boton:hover {
    transform: scale(1.05);
}

#mensaje {
    height: 90px;
}

textarea {
    width: 100%;
    background: #c5ccd39a;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #8c8e9464;
    font-size: 18px;
    color: black;
}

.h4contacto {
    color: rgb(227, 236, 251);
    font-family: fira sans;
}



/*----- MEDIA QUERIES --------*/

@media screen and (max-width:1150px) {

    /*----INDEX----*/
    main h3 {
        font-size: 25px;
    }

    
    .titulo1 h2{
        font-size: 30px;
        margin-top: 45px;
        text-align: center;
    }
}

@media screen and (max-width:1000px) {
    body {
        min-width: 100vw;
    }

    /*----INDEX----*/
    .titulo1 h2 {
        font-size: 28px;
        margin-top: 35px;
        text-align: center;
    }

    .contenedor-logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 5%;
        grid-template-areas:
            "logos1 logos2"
            "logos3 logos4";
        justify-items: stretch;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    /*---- CONTACTO -----*/
    .columna1 {
        min-width: 50vw;
    }
}

@media screen and (max-width:800px) {
    body {
        min-width: 350px;
    }

    main {
        margin-top: 0;
    }

    .dewalt-banner-inferior h2 {
        font-size: 25px;
        width: 80%;
        margin: 0 auto;
    }

    /*---- CONTACTO -----*/
    .columna1 {
        min-width: 65vw;
    }



    /*----INDEX----*/
    .titulo1 h2 {
        font-size: 22px;
        margin-top: 25px;
        text-align: center;
    }
    .titulo2 h3{
        font-size: 35px;
        text-align: center;
    }

}

@media screen and (max-width:520px) {
    main {
        padding-bottom: 0px;
    }

    
    footer {
        background: linear-gradient(to bottom, rgb(134, 127, 127), rgb(36, 30, 30));
        min-width: 350px;
    }

    /*----INDEX----*/
    .contenedorportada {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 350px;
    }

    .cargo img {
        width: 100%;
    }

    .titulo1 h2 {
        font-size: 12px;
        margin-top: 15px;
    }

    .titulo2 h3{
        font-size: 19px;
    }

    .contenedor-logos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "logos1"
        "logos2"
        "logos3"
        "logos4";
        justify-items: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        position: relative;
    }

    .logoimg {
        height: 90%;
        width: 70%;
    }

    .logos1 .logos2 .logos3 .logos4 {
        width: 70%;
    }

    /*--- EMPRESA ---*/

    .columna1 {
        width: 100vw;
    }

    /*--- DEWALT ---*/

    .dewalt-banner-inferior h2 {
        font-size: 15px;
        width: 80%;
        margin: 0 auto;
    }
}