.contenedor-portada {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr 0.1fr 0.4fr 0.4fr;
    grid-template-areas:
        "cargo"
        "titulo1"
        "titulo2"
        "cont-logos"
        "cont-logos";
    margin-bottom: 5%;
    margin-top: 0;
    height: 50%;
    width: 100%;
    object-fit: contain;

    .cargo {
        grid-area: cargo;
        width: 100%;

        img {
            width: 100%;
            min-width: 350px;
        }
    }

    /*  -------------------------------------------- */
    .titulo2 h4 {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .5em;
        display: inline-block;
        padding: 1.5em 0em;
        top: 18%;
        left: 50%;
        width: 40em;
        margin: 0 auto;
        }
        span {
            font-size: 45px;
            letter-spacing: 0;
            padding: .25em 0 .325em;
            display: block;
            margin: 0 auto;
            text-shadow: 0 0 80px rgba(255, 255, 255, .5);
            /* Clip Background Image */
            background: url(../../img/animated-text-fill.png) repeat-y;
            -webkit-background-clip: text;
            background-clip: text;
            /* Animate Background Image */
            -webkit-text-fill-color: transparent;
            animation: aitf 80s linear infinite;
            /* Activate hardware acceleration for smoother animations */
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
        }
    }
    @keyframes aitf {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 100% 50%;
        }
    }
    .titulo1 {
        h1 {
            height: 1px;
            width: 70%;
            font-family: fira sans;
            font-size: 25px;
            padding: 5% 15% 2% 15%;
            color: grey;
            text-align: center;
            grid-area: titulo1;
            width: fit-content;

        }
    }
    .titulo2 {
        font-family: fira sans;
        font-weight: bold;
        width: 90%;
        margin: 5%;
        font-size: 55px;
        color: grey;
        text-align: center;
        grid-area: titulo2;
    }


///------ nuevo -------///
h2 {
    pointer-events: none;
}


.container-prod {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "logos1 logos2"
        "logos3 logos4";
    grid-area: cont-logos;
    width: 83%;
    height: 100%;


    .tarjeta {
        position: relative;
        min-width: 150px;
        min-height: 60px;
        width: 89%;
        height: 83%;
        background-color: rgb(238, 238, 238);
        overflow: hidden;
        margin-bottom: 5%;

        &:before {
            content: "";
            z-index: 99;
            position: absolute;
            top: -10px;
            left: 32px;
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            background-color: $bg-color;
        }

        &:after {
            content: "";
            z-index: 99;
            position: absolute;
            bottom: -10px;
            left: 32px;
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            background-color: $bg-color;
        }

        h2 {
            z-index: 99;
            font-family: "Poppins", sans-serif;
            position: absolute;
            bottom: 0;
            right: 25%;
            font-size: 58px;
            font-weight: 700;
            color: #fff;
        }

        p {
            z-index: 99;
            position: absolute;
            top: 5%;
            right: 15%;
            color: #333;
            opacity: 0.7;
            font-size: 12px;
            letter-spacing: 1px;
            writing-mode: vertical-lr;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        .pic {
            object-fit: contain;
            z-index: 100;
            width: 80%;
            height: 100%;

            background-size: 100% 100%;
            filter: grayscale(100%);
        }

        &:hover i {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .boton {
            position: absolute;
            right: 14px;
            bottom: 14px;
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            outline: none;
            transition: all 0.5s ease;
            mix-blend-mode: hard-light;

            .linkcito {
                padding: 1px 12px 1px 5px;
                height: 30px;
                width: 30px;
            }

            i {
                font-size: 3rem;
            }
        }

        &:hover .boton {
            transform: scale(16.5);
        }

        &:hover p {
            color: rgb(27, 26, 26);
        }

        &:hover .pic {
            filter: grayscale(0);

        }
    }

    .tarj-dw {
        grid-area: logos1;

        .pic {
            background-image: url("../../img/ficha1.jpg");
        }

        .boton-dw {
            background-color: $color-dw;
        }
    }

    .tarj-mw {
        grid-area: logos2;

        .pic {
            background-image: url("../../img/ficha2.webp");
        }

        .boton-mw {
            background-color: $color-mw;
        }
    }

    .tarj-mk {
        grid-area: logos3;

        .pic {
            background-image: url("../../img/ficha3.png");
        }

        .boton-mk {
            background-color: $color-mk;
        }
    }

    .tarj-mt {
        grid-area: logos4;

        .pic {
            background-image: url("../../img/ficha4.jpeg");
        }

        .boton-mt {
            background-color: $color-mt;
        }
    }
}