/* ---- MAKITA ----*/

.mt-productos-contenedor{
    height: auto;
    width: 100%;
    background-color:#dde6e5;
    .mt-sup-fondo{
        width: 100%;
        background-color: #1F4942;
        .mt-banner-superior{
            display: flex;
            justify-content: center;
            height: 90%;
            width: 100%;
            background-color: #1F4942;
            animation-duration: 3s;
            animation-name: slidein;
            .mt-logo{
                display: flex;
                width: 14%;
                height: 80%;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
    .mt-banner-medio{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 2% 0 2% 0;
        
        background-color: #1F4942;
        text-align: center;
        
        background-position: center;
        img{
            width: 10%;
            background-color: #1F4942;
        }
        h2{
            font-family:inherit;
            font-weight: bolder;
            font-size: 35px;
            color: white;
            text-align: center;
            position: relative;
        }
    }
    .titulo-catalogo p {
        @include productos(#1F4942);
    }
    .card{
        img{
            @include card-makita-img;
        }
        .card-text{
            @include card-makita-p;
        }
    }
    .mt-inf-fondo{
        background-color: rgb(228, 25, 25);
        padding: 0;
        .mt-banner-inferior{
            width: 100%;
            object-fit: contain;
            padding: 0;
            margin: 8% 0% 0% 0%;           
            img{
                @include banner-inferior;
            
            }
        }
    }
}